#ifndef AWS_CERTIFICATES_H
#define AWS_CERTIFICATES_H

// AWS IoT Core Root CA Certificate (Amazon Trust Services)
const char* aws_root_ca = R"EOF(
-----BEGIN CERTIFICATE-----
MIIDQTCCAimgAwIBAgITBmyfz5m/jAo54vB4ikPmljZbyjANBgkqhkiG9w0BAQsF
ADA5MQswCQYDVQQGEwJVUzEPMA0GA1UEChMGQW1hem9uMRkwFwYDVQQDExBBbWF6
b24gUm9vdCBDQSAxMB4XDTE1MDUyNjAwMDAwMFoXDTM4MDExNzAwMDAwMFowOTEL
MAkGA1UEBhMCVVMxDzANBgNVBAoTBkFtYXpvbjEZMBcGA1UEAxMQQW1hem9uIFJv
b3QgQ0EgMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALJ4gHHKeNXj
ca9HgFB0fW7Y14h29Jlo91ghYPl0hAEvrAIthtOgQ3pOsqTQNroBvo3bSMgHFzZM
9O6II8c+6zf1tRn4SWiw3te5djgdYZ6k/oI2peVKVuRF4fn9tBb6dNqcmzU5L/qw
IFAGbHrQgLKm+a/sRxmPUDgH3KKHOVj4utWp+UhnMJbulHheb4mjUcAwhmahRWa6
VOujw5H5SNz/0egwLX0tdHA114gk957EWW67c4cX8jJGKLhD+rcdqsq08p8kDi1L
93FcXmn/6pUCyziKrlA4b9v7LWIbxcceVOF34GfID5yHI9Y/QCB/IIDEgEw+OyQm
jgSubJrIqg0CAwEAAaNCMEAwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMC
AYYwHQYDVR0OBBYEFIQYzIU07LwMlJQuCFmcx7IQTgoIMA0GCSqGSIb3DQEBCwUA
A4IBAQCY8jdaQZChGsV2USggNiMOruYou6r4lK5IpDB/G/wkjUu0yKGX9rbxenDI
U5PMCCjjmCXPI6T53iHTfIuJruydjsw2hUwsqdWMv0M9xqegQzC9lEwDIjv/DSHC
PG5O4vXJhDfDiPf/yf8Fql7K7BXJ4lBAJNOvSrU/NeJfFjITYvBW5FJNHhVZBMmG
nC8+R0sAA8qwZfK7FjjFPd0pqagUz/y4EKOQvHyCU/MZJhYRjZUlr9I7M1P/yLTx
wjGDdZ9V+L6jMOJgqsKBCG2oOcLpI0CxkAA6E6nOI/3ykV6fNGTWdKFD1MtpCnEG
tqjJB7S7zIe9zCPfaXCfCJWNSe3VqSiY7pIKcDcV2Z1D9kqkTT3c
-----END CERTIFICATE-----
)EOF";

// TODO: Replace with your device certificate
const char* device_cert = R"EOF(
-----BEGIN CERTIFICATE-----
/* PASTE YOUR DEVICE CERTIFICATE HERE */
/* This should be the contents of your .crt file */
-----END CERTIFICATE-----
)EOF";

// TODO: Replace with your private key  
const char* device_key = R"EOF(
-----BEGIN RSA PRIVATE KEY-----
/* PASTE YOUR PRIVATE KEY HERE */
/* This should be the contents of your .key file */
-----END RSA PRIVATE KEY-----
)EOF";

#endif